<div class="col-sm-3">
  <h2>個人情報 編集</h2>

  <%= form_with model: current_customer, url: customer_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

    <div class="field">
      <%= f.label :姓 %><br />
      <%= f.text_field :last_name, autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :名 %><br />
      <%= f.text_field :first_name, autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :セイ %><br />
      <%= f.text_field :last_name_kana, autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :メイ %><br />
      <%= f.text_field :first_name_kana, autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :manabaのUserID %><br />
      <%= f.text_field :manaba_user_id, autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :manabaのPassword %><br />
      <%= f.text_field :manaba_password, autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :LINEのパス %><br />
      <%= f.text_field :line_path, autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.check_box :is_active %>
      <%= f.label :Lineに通知を送る %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>
<div class="col-sm-9"></div>
