<!DOCTYPE html>
<html>
  <head>
    <title>Mli</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container application_header">
      <div class="row">
        <div class="col-sm-8">
          <li class="application_header_text">
              <%= link_to 'MLI', root_path %>
          </li>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <% if customer_signed_in? %>
              <div class="col-sm-4">
                <li class="application_header_text">
                  <%= link_to '個人情報詳細', customers_path %>
                </li>
              </div>
              <div class="col-sm-4">
                <li class="application_header_text">
                  <%= link_to '個人情報編集', edit_customers_path %>
                </li>
              </div>
              <div class="col-sm-4">
                <li class="application_header_text">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
                </li>
              </div>
            <% elsif admin_signed_in? %>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <li class="application_header_text">
                  <%= link_to "顧客一覧", admin_customers_path %>
                </li>
              </div>
              <div class="col-sm-4">
                <li class="application_header_text">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
              </div>
            <% else %>
              <div class="col-sm-4">
                <li class="application_header_text">
                  <%= link_to "パス作成", lines_about_path %>
                </li>
              </div>
              <div class="col-sm-4">
                <li class="application_header_text">
                  <%= link_to "新規登録", new_customer_registration_path %>
                </li>
              </div>
              <div class="col-sm-4">
                <li class="application_header_text">
                  <%= link_to "ログイン", new_customer_session_path %>
                </li>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
